body {
margin: 0;
padding-bottom: 2em;
background-color: #D08437;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
border-top: 2px solid #2A4F6F;
}
#header {
border-top: 1px solid #704418;
border-bottom: 1px dotted #704418;
height: 3em;
}
#header .strapline {
font: 120% Georgia, "Times New Roman", Times, serif;
color: #704418;
background-color: transparent;
float: right;
margin-right: 2em;
margin-top: 0.5em;
}
#header .logo {
float: left;
margin-left: 1.5em;
margin-top: 0.5em;
}
#footer {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3em;
background-color: #4B2C0C;
color: #FFFFFF;
border-top: #778899;
text-align: right;
}
html > body #footer {
position: fixed;
}
#footer a:link, #footer a:visited {
padding: 0.5em 1em 0.5em 1em;
color: #FFFFFF;
background-color: transparent;
font-size: 80%;
}
#footer a:hover {
text-decoration: none;
}


#content {
margin-left: 6em;
margin-right: 2em;
margin-top:5em;
}
h1 {
font: 150% Georgia, "Times New Roman", Times, serif;
}
#content p {
font-size: 80%;
line-height: 1.6em;
padding-left: 1.2em;
}
.hlite{
background-color:#4B2C0C;
color:#fff;
}

